* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #383508;
}

body {
  background-color: beige !important;
}

.app {
  text-align: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 72px;
  font-weight: 700;
  margin-top: 5%;
  color: #383508
}

.info {
  font-size: 24px;
}

.form {
  display: inline-block;
  width: 100%;
  margin-bottom: 5vh;
  font-size: 24px;
}

.input {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;

  border: 0;

  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
}

.item-input {
  width: 25%;
}

.date-input {
  width: 5%;
}

.btn-submit {
  margin-left: 30px;
  margin-bottom: 5px;
  height: 8vh;
  width: 8%;

  font-size: 22px !important;
  background-color: #e4eaea !important;
  border: none;

  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
}

.item {
  text-align: center;
  justify-content: center;
  margin-left: 10vh;
}