.app {
  text-align: center;
  position: relative;
}

.title {
  font-size: 42px;
  margin-top: 5%;
}

.form {
  display: inline-block;
  width: 100%;
}

.input {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  border-color: black;
  border-width: 1px;
  box-shadow: 10px;
}

.item-input {
  width: 30%;
}

.date-input {
  width: 10%;
}

.btn-submit {
  border: 10px;
  margin: 20px;
  height: 6vh;
  width: 10%;
}